.map{
    margin-top: 120px;
    padding: 120px 0;
    position: relative;
    z-index: 2;
    @media#{$bigtap}{
        margin-top: 60px;
    }
    @media#{$mabile}{
        margin-top: 60px;
        padding: 290px 0 70px 0;
    }
    #map{
        max-width: 1920px;
        width: 100%;
        height: 700px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        @media#{$bigtap}{
            height: 545px;
        }
        @media#{$mabile}{
            height: 680px;
        }
    }
    &__office{
        display: inline-block;
        padding: 50px 50px 144px 50px;
        border-radius: 30px;
        background: #FFF;
        box-shadow: 4px 4px 12px 0px rgba(12, 19, 33, 0.12);
        max-width: 486px;
        @media#{$bigtap}{
            padding: 50px;
        }
        @media#{$mabile}{
            padding: 40px 20px;
        }
        ul{
            margin-top: 30px;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap:20px 0;
            @media#{$bigtap}{
                margin-top: 20px;
                gap:10px 0;
            }
            @media#{$mabile}{
                gap:20px 0;
            }
            li{
                line-height: 0;
                &:nth-child(n+2){
                    a{
                        text-decoration-line: underline;
                        text-decoration-style: solid;
                        text-decoration-skip-ink: auto;
                        text-decoration-thickness: auto;
                        text-underline-offset: auto;
                        text-underline-position: from-font;
                    }
                }
            }
            p{
                color:#27292E;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 19px;
                text-transform: uppercase;
                @media#{$bigtap}{
                    font-size: 14px;
                }
                @media#{$mabile}{
                    font-size: 16px;
                }
            }
            a{
                display: block;
                margin-top: 5px;
                text-decoration: none;
                color:#27292E;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 19px;
                opacity: 0.8;
                @media#{$bigtap}{
                    font-size: 14px;
                    margin-top: 0;
                }
                @media#{$mabile}{
                    line-height: 19px;
                    margin-top: 5px;
                }
            }
        }
    }
}